@MR:~"Montserrat-Regular";
@TL:~"Trueno Light";
@TUB:~"Trueno Ultra Black";

@Georgia:~"'Georgia','serif','Timew New Roman'";
@font-face {
font-family: 'Montserrat-Regular';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(/fonts/Montserrat-Regular.woff) format('woff');
}

@CR:~"Cairo-Regular";
@font-face {
font-family: 'Cairo-Regular';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(/fonts/Cairo-Regular.woff) format('woff');
}

@RR:~"RalewayRegular";
@font-face {
font-family: 'RalewayRegular';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(/fonts/RalewayRegular.woff) format('woff');
}