 .header-slider {
  // * {
  //   outline: 2px solid;
  // }
  font-size: 24px;
  background-color: #baf9c4;
  position: relative;
  z-index: 2;
  &__wrapper {
    width: @wrapper;
    margin:auto;
    // outline:2px solid;
    // outline-offset: -2px;
    font-family: @CR;
    position: relative; 
    height: 525px;
    // overflow: hidden;

    box-sizing: border-box;
    &:after {
      content:"";
      position: absolute;
      bottom:0;
      transform: translateX(-40%);

      width: 250px;
      height: 425px;
      border:1px solid black;
      right:0;
      z-index:-1;
      // display: block;
    }

  }


}

.collection {
  margin-left: 110px;
  // width: calc(3 * 1170px);
  width: 1170px;
  display: flex;
  flex-direction: row;
  &__next-month {
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 100px;
  }
  &__anounce{
    font-family: @Georgia;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 40px;
    width: 45%;
  }
  &__description {
    font-family: @RR;
    font-size: 14px;
    font-style: italic;
    padding-top: 40px;
    color: #747a75;
    font-weight: bold;
    width:37%;
    margin-bottom: 40px;
  }
  &__link {
    padding: 20px 25px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 45px;
    font-family: @Georgia;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:bold;
    &:hover {
     text-decoration: underline;
   }
   &-img {
    border-left: 0.5px solid transparent;
    transform: rotate(-90deg) scale(1.5) translateX(0px);
  }
  }
   &__img {
    position: absolute;
    bottom: 1px;   
    display: block;
    right: 16%;

  }
}

.header-slider-button {
  display: none;
}
.header-slider__label {
  width: 19px;
  height: 19px;
  border: 1px solid #000;
  background-color: #000;
  content: "";
  font-size: 0px;
  display: block;
  border-radius: 50%;
  margin-top: 10px;
}
.header-slider-button:checked + .header-slider__label {
  background-color: transparent;
}

.header-slider__controls {
  position: absolute;
  right:1%;
  top: 50%;
  transform: translateY(-50%);

}

// .collection__card-one,
.collection__card-two,
.collection__card-three{
opacity: 0;
}